/*
 * This is for overriding generated
 * war/librarymanager/gwt/standard/standard.css
 */
body, table td, select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background-color: #fff;
  padding-top: 6px;
  padding-left: 5px;
  border-bottom: 4px solid #87B3FF;
}

.gwt-TabLayoutPanelContentContainer {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 2px 1px 1px;
  background-color: rgb(245,245,245);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 4px 8px;
  cursor: pointer;
  cursor: hand;
  color: white;
  font-weight: normal;
  text-align: center;
  background: rgb(173, 190, 206);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  color: black;
  background: #87b3ff;
}

/* My application settings */
.myapp-Table {
  border-left: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-top: 1px solid #fff;
  border-width: 1px;
  border-spacing: 2px;
  /*  border-collapse:collapse; */
  border-collapse:separate;
  border-style: outset;
  border-color: gray;
  background-color: white;
}

.myapp-TableHeader {
/* color:#cccc; */
/*  font-weight:bold; */
}

.myapp-TableRow {
  background-color: white;
}

.myapp-TableRow-Bold {
  font-weight:bold;
}

.myapp-TableRow-Even {
  background-color:#f0f4f8;
}

.myapp-TableCell {
}
